.listWrapper {
    display: flex;
    width: 100%;
    background: var(--gray-400);
    color: var(--gray-300);
    padding: 1rem;
    gap: 1.35rem;
    align-items: center;
    border-radius: 8px;
}

.listWrapper p {
    flex: 1;
    color: var(--white);
}


.listWrapper button {
    border: none;
    background: transparent;
    cursor: pointer;
    /* border: none;
    background-color: transparent;
    border-radius: 4px;
  
    padding: 5px 4px 2px 4px;
    
    transition: 0.2s background-color;
    cursor: pointer; */
  }