.taskWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.taskCount {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
}

.taskCreate {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.taskCreate p {
    color: var(--blue);
    font-weight: bold;
} 

.taskCreate span {
    background: var(--gray-400);
    padding: 0.125rem 0.5rem; 
    border-radius: 100%;
    font-weight: bold;
}

.taskDone {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.taskDone p {
    color: var(--purple);
    font-weight: bold;
} 

.taskDone span {
    background: var(--gray-400);
    padding: 0.125rem 0.5rem; 
    border-radius: 100%;
    font-weight: bold;
}

