.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.inputWrapper {
    display: flex;
    gap: 0.5rem;
    width: 47.25rem;
    justify-content: center;
    position: absolute;
    top: 12rem;
}

.input {
    background: var(--gray-400);
    color: var(--gray-300);
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    flex: 1;
}

.button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    background: var(--blue-dark);
    color: var(--white);
    font-weight: bold;

    border-radius: 8px;
    border: 0;
    padding: 1rem;

    transition: background-color 0.4s;
}

.button:hover {
    background: var(--blue);
}

.taskWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47.25rem;
    margin-top: 6rem;
    /* position: absolute;
    top: 12rem; */
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1.5rem 0;
    color: var(--gray-400);
    gap: 0.75rem;
    width: 100%;
    margin-top: 1.5rem;
}

.taskList strong {
    color: var(--gray-300);
    font-weight: bold;
}

.emptyDescription {
    color: var(--gray-300);
}